@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --def-font: "Poppins", sans-serif;
  --def-bg: #f5f5f7;
  --def-clr-light: #0f0f10;

  --bg-clr-dark: rgb(15, 19, 31);
  --txt-clr-dark: rgb(205, 215, 219);
}

* {
  scrollbar-width: thin;
  scrollbar-color: grey var(--def-bg);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e4e6f1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: var(--def-bg);
  color: var(--def-clr-light);
  font-family: var(--def-font);
  overflow-x: hidden;
  unicode-bidi: isolate;
}

.dark body {
  background: var(--bg-clr-dark);
  color: var(--txt-clr-dark);
}
